

*{
    font-family: 'Noto Sans Thai', sans-serif;
}

.carousel-item{
    height: 500px;
}

.carousel-image-1{
    background-image: url('images/im1.JPG');
    background-size: cover;
}

.carousel-image-2{
    background-image: url('images/im2.jpg');
    background-size: cover;
}

.carousel-image-3{
    background-image: url('images/im4.jpg');
    background-size: cover;
}

